body {
  background-color: randomHexColor();
}
.contactsTitle,
.phohebookTitle {
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 30px;
}

.contactsTitle {
  margin-top: 30px;
}
